.footer ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 15px;
    padding-inline-start: 0px;
    width: 21vw;
    justify-content: space-between;
}

.footer a{
    color: white !important;
    height: 5vh;
}

.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5vh;
    align-items: center;
}

.footer li:hover{
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
}